{
	"DB_IP": "",
	"DB_NAME": "",
	"DB_USER": "",
	"DB_PASSWORD": "",
	"DB_PORT": "",
	"API_HOST": "if havent nodejs api then kill this line",
	"LOGIN_ID": "",
	"LOGIN_PASSWORD": "",
	"COMMAND_PATH": "server restart command file path",
	"COMMAND_PATH2": "server stop command file path",
	"CRYPT_KEY": "cannot change",
	"GROUP_CALL_PHONE_LIMIT": "50000",
	"GROUP_CALL_LIST_LIMIT": "10",
	"BASE_FOLDER": "/aurora02/",
	"ENV": "production"
}
